@charset "UTF-8";
@media (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media (min-width: 768px) {
  .inner {
    padding: 0 5rem;
    margin-left: 320px;
  }
}
@media (max-width: 767px) {
  .inner {
    margin-left: 0px;
    padding: 0px;
  }
}

body {
  font-family: "ヒラギノ明朝 ProN", serif;
  line-height: 1.5;
}

.util-title {
  font-size: 32px;
  margin: 7rem 0 2rem;
  font-weight: 900;
  color: #222222;
}
@media (max-width: 767px) {
  .util-title {
    font-size: 24px;
    margin: 5rem 0 2rem;
  }
}

.header {
  position: fixed;
  width: 320px;
  height: 100%;
  background: #144A84;
  z-index: 10000;
}
@media (max-width: 767px) {
  .header {
    display: none;
  }
}
.header .header-logo {
  text-align: center;
  margin: 4rem auto 0;
}
.header .header-logo a {
  font-size: 1.7rem;
  color: #ffffff;
}
.header .header-nav-list {
  padding: 2.5rem 0 3.5rem 2rem;
}
.header .header-nav-list .header-nav-item {
  padding-top: 1.3rem;
}
.header .header-nav-list .header-nav-item .header-nav-item-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}
.header .header-nav-list-sub .header-nav-item-sub {
  font-size: 1.1rem;
  margin: 1.5rem 0 1rem 3rem;
  position: relative;
  color: #ffffff;
}
.header .header-nav-list-sub .header-nav-item-sub::before {
  content: "";
  width: 2px;
  height: 17px;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: -15px;
}
.header .header-nav-list-sub .header-nav-item-sub .header-nav-item-link-sub {
  line-height: 3;
  color: #ffffff;
  padding: 0.2rem 0.4rem;
  background: #fff;
  color: #222222;
}
.header .header-copy-right {
  text-align: center;
  margin-bottom: 1rem;
  color: #ffffff;
}

@media (min-width: 768px) {
  .drawer-header {
    display: none;
  }
}
@media (max-width: 767px) {
  .drawer-header {
    height: 60px;
    width: 100%;
    background: #144A84;
    position: fixed;
    z-index: 900;
  }
  .drawer-header .drawer-header-img {
    height: 60px;
    margin-top: 0.4rem;
    text-align: center;
  }
  .drawer-header .drawer-header-img a {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.drawer-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1004;
  transition: transform 0.5s ease 0s;
}
@media (min-width: 768px) {
  .drawer-icon {
    display: none;
  }
}
.drawer-icon.is-active {
  transform: translateX(250px);
}
.drawer-icon.is-active .drawer-icon-bar1 {
  transform: rotate(-45deg);
  top: 8px;
  background: #fff;
  transition: transform 0.5s ease 0s;
}
.drawer-icon.is-active .drawer-icon-bar2 {
  top: 10px;
  display: none;
}
.drawer-icon.is-active .drawer-icon-bar3 {
  top: 8px;
  transform: rotate(45deg);
  background: #fff;
  transition: transform 0.5s ease 0s;
}

.drawer-icon-bars {
  width: 35px;
  height: 35px;
  position: relative;
  display: block;
}

.drawer-icon-bar1,
.drawer-icon-bar2,
.drawer-icon-bar3 {
  width: 35px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.drawer-icon-bar1 {
  top: 0;
}

.drawer-icon-bar2 {
  top: 10px;
}

.drawer-icon-bar3 {
  top: 20px;
}

@media (min-width: 768px) {
  .drawer-content {
    display: none;
  }
}
@media (max-width: 767px) {
  .drawer-content {
    width: 260px;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1002;
    transform: translateX(-150%);
    transition: transform 0.5s ease 0s;
  }
  .drawer-content.is-active {
    transform: translateX(-45%);
  }
}
.drawer-content .drawer-img {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.drawer-content .drawer-img a {
  color: #222222;
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width: 767px) {
  .drawer-content-item {
    transition: color 0.4s;
  }
  .drawer-content-item:hover {
    color: #144A84;
  }
}
.drawer-content-item a {
  display: block;
  color: #000;
  border-bottom: 1px dotted #000;
  padding: 18px 17px;
}

.drawer-nav-list-sub {
  margin: 0rem 0 2rem 2rem;
}
.drawer-nav-list-sub .drawer-nav-item-sub {
  font-size: 1.1rem;
  margin: 1.5rem 0 1rem 3rem;
  position: relative;
  color: #222222;
}
.drawer-nav-list-sub .drawer-nav-item-sub::before {
  content: "";
  width: 2px;
  height: 20px;
  background: #222222;
  position: absolute;
  top: 2px;
  left: -15px;
}
.drawer-nav-list-sub .drawer-nav-item-sub .drawer-nav-item-link-sub {
  background: #144A84;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  color: #ffffff;
}

@media (max-width: 767px) {
  .drawer-background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 899;
    display: none;
  }
  .drawer-background.is-active {
    display: block;
  }
}
@media (max-width: 767px) and (min-width: 768px) {
  .drawer-background {
    display: none;
  }
}

@media (min-width: 768px) {
  .main {
    width: calc(100% - 320px);
  }
}
@media (max-width: 767px) {
  .main {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}


.faq-header {
  background: #144A84;
  padding: 0.5rem 0;
  text-align: center;
}
@media (max-width: 767px) {
  .faq-header {
    padding: 0.1rem 0;
  }
}
@media (min-width: 768px) {
  .faq-header .faq-header-img {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 5px;
  }
}
@media (max-width: 767px) {
  .faq-header .faq-header-img {
    display: none;
  }
}

.faq {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
.faq .faq-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 8rem 0;
  line-height: 2;
}
@media (max-width: 767px) {
  .faq .faq-title {
    font-size: 17px;
    padding: 0 0.8rem;
    text-align: center;
    margin: 8rem 0 3rem;
  }
}
.faq .faq-title span {
  font-size: 38px;
}
@media (max-width: 767px) {
  .faq .faq-title span {
    font-size: 23px;
    text-align: center;
  }
}
.faq .faq-title p {
  padding-top: 2rem;
  font-weight: normal;
  font-size: 15px;
}
@media (max-width: 767px) {
  .faq .faq-content {
    padding: 0 0.8rem;
  }
}
.faq .faq-content .faq-q {
  font-size: 1.7rem;
  background: #144A84;
  padding: 1rem 2rem;
  color: #ffffff;
}
@media (max-width: 767px) {
  .faq .faq-content .faq-q {
    font-size: 1.2rem;
  }
}
.faq .faq-content .faq-a {
  padding: 1.7rem 2rem;
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  .faq .faq-content .faq-a {
    font-size: 0.9rem;
  }
}

footer {
  background: #E8ECF2;
  text-align: center;
  color: #222222;
  margin-top: 10rem;
}
@media (max-width: 767px) {
  footer {
    margin-top: 6rem;
  }
}
footer .footer-logo {
  padding-top: 4rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
  footer .footer-logo a {
    color: #222222;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
}
@media (max-width: 767px) {
  footer .footer-logo a {
    color: #222222;
    font-weight: bold;
    font-size: 1.3rem;
  }
}
footer .footer-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
footer .footer-title p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222222;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  footer .footer-title p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
  }
}
footer .footer-title .footer-title-item {
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
}
@media (max-width: 767px) {
  footer .footer-title .footer-title-item {
    justify-content: space-evenly;
  }
}
footer .footer-title .footer-title-item li:not(:first-child) {
  margin-left: 1rem;
}
@media (max-width: 767px) {
  footer .footer-title .footer-title-item li:not(:first-child) {
    margin-left: 0;
  }
}
footer .footer-title .footer-title-item li img {
  transition: all 0.3s;
}
@media (min-width: 768px) {
  footer .footer-title .footer-title-item li img {
    width: 50%;
  }
}
@media (max-width: 767px) {
  footer .footer-title .footer-title-item li img {
    width: 60%;
  }
}
footer .footer-title .footer-title-item li img:hover {
  opacity: 0.7;
}
footer .footet-privacy {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
footer .footet-privacy a {
  color: #222222;
}
footer .footet-privacy a:hover {
  border-bottom: 1px solid #222;
}
footer .footer-copy-right {
  padding-bottom: 1rem;
}

/* model */
.footer-nav-item-another {
  text-align: center;
}

.footer-nav-item-another span:hover {
  border-bottom: 1px solid #222;
  cursor: pointer;
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  display: none;
}

.model-bg {
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.model-window {
  width: 70%;
  height: 80%;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: left;
  overflow: scroll;
}

.model-window-bg {
  padding: 5rem 0;
  line-height: 1.5;
  letter-spacing: 5px;
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .model-window-bg {
    padding: 3rem 0;
  }
}

.model h3 {
  margin-bottom: 0.6rem;
  color: #000;
  text-align: center;
  font-size: 1rem;
  line-height: 2;
}
@media (max-width: 767px) {
  .model h3 {
    font-size: 0.5rem;
  }
}
.model h3 span {
  font-size: 1.9rem;
  font-weight: bold;
}
@media (max-width: 767px) {
  .model h3 span {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}

.model p {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.1rem;
}

.model {
  width: 100%;
  margin: 0 auto;
}
.model .privacy-content {
  padding: 3rem 3rem 0;
}
@media (max-width: 767px) {
  .model .privacy-content {
    padding: 0.5rem 0.5rem 0;
  }
}
.model .privacy-content .privacy-title {
  font-size: 1.4rem;
  background: #144A84;
  padding: 0.7rem 2rem;
  color: #ffffff;
}
@media (max-width: 767px) {
  .model .privacy-content .privacy-title {
    text-align: center;
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
  }
}
.model .privacy-content .privacy-text {
  padding: 2.5rem 2rem;
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  .model .privacy-content .privacy-text {
    text-align: center;
    padding: 1.5rem 0.5rem;
    font-size: 0.8rem;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: "";
}

object, embed {
  vertical-align: top;
}

hr, legend {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

img, abbr, acronym, fieldset {
  border: 0;
}

li {
  list-style-type: none;
}

sup {
  vertical-align: super;
  font-size: 0.5em;
}

img {
  vertical-align: top;
}

i {
  font-style: normal;
}


/*デザインcss↓*/
.box_con {
  max-width: 900px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .box_con {
    width: 90%;
  }
}
.box_con form {
  width: 100%;
}

.box_con form table {
  width: 100%;
}

.box_con form table tr {
  position: relative;
}

.box_con form table tr:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  border-bottom: dotted #cdcdcd 1px;
}

.box_con form table tr th {
  width: 35%;
  font-weight: normal;
  padding: 1em 0.5em;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .box_con form table tr th {
    text-align: center;
    width: 100%;
    display: block;
    background: #144A84;
    padding: 0.8em 0.2em;
    color: #fff;
  }
}
.box_con form table tr th span {
  background: #cd6f55;
  padding: 0 0.3em;
  color: #fff;
  margin-left: 0.5em;
  box-sizing: border-box;
}

.box_con form table tr td {
  padding: 1em 0.5em;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .box_con form table tr td {
    padding: 1.5em 0.5em;
    display: block;
    width: 100%;
  }
}
.box_con form table tr .box_br {
  display: block;
}

.box_con form table tr select {
  border: 1px solid #97ae88;
}

.box_con form table tr label input {
  cursor: pointer;
  display: none;
  vertical-align: middle;
}

.box_con form table tr .radio02-input + label {
  padding-left: 23px;
  margin-right: 20px;
  position: relative;
  text-align: left;
}

.box_con form table tr .radio02-input + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  transform: translateY(-50%);
}

.box_con form table tr .radio02-input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 20%;
  left: 3px;
  width: 10px;
  height: 5px;
  border-left: 3px solid #144A84;
  border-bottom: 3px solid #144A84;
  transform: rotate(-45deg);
  border-radius: 1px;
}

.box_con form table tr select, .box_con form table tr input, .box_con form table tr textarea {
  width: 100%;
  height: 3em;
  padding: 0.5em;
  box-sizing: border-box;
}

.box_con form table tr textarea {
  height: 10em;
}

.contact-th {
  vertical-align: top;
}

/*プライバシーのデザインcss↓*/
.con_pri {
  max-width: 700px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .con_pri {
    width: 95%;
  }
}
.con_pri .box_pri {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #cdcdcd;
  background: #f7f7f7;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px 55px;
}

@media only screen and (max-width: 768px) {
  .con_pri .box_pri {
    margin-top: 4%;
    padding: 3%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .con_pri .box_pri {
    padding: 4%;
  }
}
.con_pri .box_pri .box_tori {
  text-align: left;
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_tori {
    margin-top: 4%;
  }
}
.con_pri .box_pri .box_tori h4 {
  font-weight: normal;
  margin-bottom: 30px;
  font-size: 150%;
}

@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_tori h4 {
    margin-bottom: 4%;
  }
}
.con_pri .box_pri .box_tori .txt {
  padding: 0 20px;
}

@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_tori .txt {
    padding: 0;
  }
}
.con_pri .box_pri .box_num {
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_num {
    margin-top: 5%;
  }
}
.con_pri .box_pri .box_num h4 {
  font-weight: normal;
  font-size: 113%;
}

.con_pri .box_pri .box_num .txt {
  padding: 10px 0 0 20px;
}

@media only screen and (max-width: 768px) {
  .con_pri .box_pri .box_num .txt {
    padding: 3% 0 0 3%;
  }
}
.box_check {
  text-align: center;
  margin: 1em auto;
}

.box_check label {
  display: inline-block;
}

.box_check label span {
  margin-left: 0.3em;
}

.box_check label span:hover {
  border-bottom: 1px solid #222;
}

.btn {
  text-align: center;
  margin-top: 3rem;
}

.btn input {
  display: inline-block;
  background: #144A84;
  padding: 0.5em 4em;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: all 0.4s;
  border-radius: 20px;
  font-size: 0.9rem;
}

.btn input:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

.privacy-title {
  text-align: center;
  margin-top: 3rem;
}